In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#  import dataset

In [2]:
data=pd.read_excel(r"C:\Users\ADMIN\Videos\career_fair\GHG_data\all_clean_data.xlsx")
data.head()

,Sector,SubSector,Organization,Operation,Operation Type,Address,City,Postal Code,Floor_Area,Average_Hours,...,Natural gas(CM),Propane(L),Coal(MT),Wood(MT),District Heating(GJ),District Cooling(GJ),GHG Emissions(KG),Energy Intensity(ekWh_sqft),Year,Fuel oil(L)
0,Public Hospital,Acute/Chronic,Alexandra Hospital,Alexandra Hospital,Facilities used for hospital purposes,29 Noxon Street,Ingersoll,N5C3V6,4660.700000,168.0,...,220977.3500,0.0,0.0,0.0,0.0,0.0,527560.002122,69.597090,2012,0.0
1,Public Hospital,Acute/Chronic,Alexandra Hospital,Alexandra Hospital,Administrative offices and related facilities,29 Noxon Street,Ingersoll,N5C3V6,3813.300000,40.0,...,180799.6500,0.0,0.0,0.0,0.0,0.0,431640.001737,69.597090,2012,0.0
2,Public Hospital,Acute/Chronic,Alexandria Glengarry Memorial Hospital,Glengarry Memorial Hospital,Facilities used for hospital purposes,20260 County Road 43,Alexandria,K0C1A0,51016.000000,168.0,...,225403.4984,0.0,0.0,0.0,0.0,0.0,586529.974768,79.689235,2012,0.0
3,Public Hospital,Acute/Chronic,Alexandria Glengarry Memorial Hospital,Glengarry Memorial Hospital,Administrative offices and related facilities,20260 County Road 43,Alexandria,K0C1A0,3953.000000,65.0,...,17466.5016,0.0,0.0,0.0,0.0,0.0,45449.455922,79.691924,2012,0.0
4,School Board,School Board,Algoma District School Board,Adult Ed - Blind River (WC Eaket),Schools,147 Woodward Ave,Blind River,P0R1B0,1128.811234,40.0,...,27262.4000,0.0,0.0,0.0,0.0,0.0,52593.003152,266.361078,2012,0.0

In [3]:
data.shape

(170329, 21)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170329 entries, 0 to 170328
Data columns (total 21 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Sector                       170329 non-null  object
 1   SubSector                    170324 non-null  object
 2   Organization                 170329 non-null  object
 3   Operation                    170329 non-null  object
 4   Operation Type               170329 non-null  object
 5   Address                      170222 non-null  object
 6   City                         170328 non-null  object
 7   Postal Code                  170149 non-null  object
 8   Floor_Area                   170329 non-null  float64
 9   Average_Hours                155097 non-null  float64
 10  Electricity(kWh)             170319 non-null  float64
 11  Natural gas(CM)              169945 non-null  float64
 12  Propane(L)                   169723 non-null  float64
 13  Coal(MT)                     169664 non-null  float64
 14  Wood(MT)                     169666 non-null  float64
 15  District Heating(GJ)         169665 non-null  float64
 16  District Cooling(GJ)         169664 non-null  float64
 17  GHG Emissions(KG)            170296 non-null  float64
 18  Energy Intensity(ekWh_sqft)  170327 non-null  float64
 19  Year                         170329 non-null  int64
 20  Fuel oil(L)                  169668 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 27.3+ MB

In [5]:
data['Year'].value_counts()

2012    17978
2015    17663
2016    17564
2014    17224
2019    17208
2013    17010
2017    16949
2020    16848
2018    16653
2021    15232
Name: Year, dtype: int64

# null value

In [6]:
null_percentage=(data.isnull().mean()*100).round(2)

In [7]:
pd.DataFrame({
    'columns':null_percentage.index,
    'null_percentage':null_percentage.values
}).sort_values('null_percentage',ascending=False)

                        columns  null_percentage
9                 Average_Hours             8.94
20                  Fuel oil(L)             0.39
16         District Cooling(GJ)             0.39
15         District Heating(GJ)             0.39
14                     Wood(MT)             0.39
13                     Coal(MT)             0.39
12                   Propane(L)             0.36
11              Natural gas(CM)             0.23
7                   Postal Code             0.11
5                       Address             0.06
17            GHG Emissions(KG)             0.02
10             Electricity(kWh)             0.01
1                     SubSector             0.00
8                    Floor_Area             0.00
6                          City             0.00
4                Operation Type             0.00
3                     Operation             0.00
2                  Organization             0.00
18  Energy Intensity(ekWh_sqft)             0.00
19                         Year             0.00
0                        Sector             0.00

# zero"s percentage

In [8]:
lis=[]
for i in data.columns:
    zero_percentage=((data[i]== 0).mean().round(4))
    lis.append((i,zero_percentage))
zero_percent=pd.DataFrame(lis,columns=('columns','zero_percentage')).sort_values('zero_percentage',ascending=False)
zero_percent

                        columns  zero_percentage
13                     Coal(MT)           0.9960
14                     Wood(MT)           0.9957
16         District Cooling(GJ)           0.9903
15         District Heating(GJ)           0.9878
20                  Fuel oil(L)           0.9586
12                   Propane(L)           0.9476
11              Natural gas(CM)           0.3401
18  Energy Intensity(ekWh_sqft)           0.1619
8                    Floor_Area           0.0854
10             Electricity(kWh)           0.0268
17            GHG Emissions(KG)           0.0170
1                     SubSector           0.0000
9                 Average_Hours           0.0000
7                   Postal Code           0.0000
6                          City           0.0000
5                       Address           0.0000
4                Operation Type           0.0000
3                     Operation           0.0000
2                  Organization           0.0000
19                         Year           0.0000
0                        Sector           0.0000

#  delete dublicate

In [9]:
k=data[data.duplicated()]

In [10]:
data.drop(k.index,inplace=True)

# remove nun value

In [11]:
data.isnull().sum()

Sector                             0
SubSector                          5
Organization                       0
Operation                          0
Operation Type                     0
Address                          107
City                               1
Postal Code                      180
Floor_Area                         0
Average_Hours                  15230
Electricity(kWh)                  10
Natural gas(CM)                  384
Propane(L)                       606
Coal(MT)                         665
Wood(MT)                         663
District Heating(GJ)             664
District Cooling(GJ)             665
GHG Emissions(KG)                 33
Energy Intensity(ekWh_sqft)        2
Year                               0
Fuel oil(L)                      661
dtype: int64

In [12]:
da=['Electricity(kWh)','Natural gas(CM)','Propane(L)','Coal(MT)','Wood(MT)','District Heating(GJ)','District Cooling(GJ)','Fuel oil(L)']
for i in da:
    data[i].replace(np.nan,0,inplace=True)

In [13]:
data[data['Electricity(kWh)'].isnull()]

Empty DataFrame
Columns: [Sector, SubSector, Organization, Operation, Operation Type, Address, City, Postal Code, Floor_Area, Average_Hours, Electricity(kWh), Natural gas(CM), Propane(L), Coal(MT), Wood(MT), District Heating(GJ), District Cooling(GJ), GHG Emissions(KG), Energy Intensity(ekWh_sqft), Year, Fuel oil(L)]
Index: []

[0 rows x 21 columns]

In [14]:
data.isnull().sum()

Sector                             0
SubSector                          5
Organization                       0
Operation                          0
Operation Type                     0
Address                          107
City                               1
Postal Code                      180
Floor_Area                         0
Average_Hours                  15230
Electricity(kWh)                   0
Natural gas(CM)                    0
Propane(L)                         0
Coal(MT)                           0
Wood(MT)                           0
District Heating(GJ)               0
District Cooling(GJ)               0
GHG Emissions(KG)                 33
Energy Intensity(ekWh_sqft)        2
Year                               0
Fuel oil(L)                        0
dtype: int64

In [15]:
k=data[data['SubSector'].isnull()]
data.drop(k.index,inplace=True)

In [16]:
k=data[data['GHG Emissions(KG)'].isnull()]
# k
data.drop(k.index,inplace=True)

In [17]:
k=data[data['Energy Intensity(ekWh_sqft)'].isnull()]
# k
data.drop(k.index,inplace=True)

In [18]:
data.isnull().sum()

Sector                             0
SubSector                          0
Organization                       0
Operation                          0
Operation Type                     0
Address                          107
City                               1
Postal Code                      180
Floor_Area                         0
Average_Hours                  15230
Electricity(kWh)                   0
Natural gas(CM)                    0
Propane(L)                         0
Coal(MT)                           0
Wood(MT)                           0
District Heating(GJ)               0
District Cooling(GJ)               0
GHG Emissions(KG)                  0
Energy Intensity(ekWh_sqft)        0
Year                               0
Fuel oil(L)                        0
dtype: int64

In [19]:
data[data['Average_Hours'].isnull()].head()

,Sector,SubSector,Organization,Operation,Operation Type,Address,City,Postal Code,Floor_Area,Average_Hours,...,Natural gas(CM),Propane(L),Coal(MT),Wood(MT),District Heating(GJ),District Cooling(GJ),GHG Emissions(KG),Energy Intensity(ekWh_sqft),Year,Fuel oil(L)
155097,Municipal,Municipality,The Corporation of the City of Markham,Fire Station #91,Fire Station,7801 Bayview Avenue,Thornhill,L3T 7N1,775.6,NaN,...,18143.25,0.0,0.0,0.0,0.0,0.0,50.5,54.451613,2021,0.0
155098,Municipal,Municipality,The Corporation of the City of Markham,Fire Station #92,Fire Station,10 Riviera Dr,Markham,L3R 5M1,1431.5,NaN,...,33583.50,0.0,0.0,0.0,0.0,0.0,51.2,57.806452,2021,0.0
155099,Municipal,Municipality,The Corporation of the City of Markham,Fire Station #93,Fire Station,2930 MAJOR MACKENZIE DR E,Markham,L6C 0J1,1006.5,NaN,...,1813.05,0.0,0.0,0.0,0.0,0.0,8.2,31.225806,2021,0.0
155100,Municipal,Municipality,The Corporation of the City of Markham,Fire Station #94,Fire Station,7300 Birchmount,Markham,L3R 3T1,663.5,NaN,...,16174.65,0.0,0.0,0.0,0.0,0.0,52.4,55.483871,2021,0.0
155101,Municipal,Municipality,The Corporation of the City of Markham,Fire Station #95,Fire Station,316 Main Street,Unionville,L3R 2H2,1100.5,NaN,...,29110.80,0.0,0.0,0.0,0.0,0.0,55.8,52.645161,2021,0.0

In [20]:
data[(data["Sector"]=='Municipal')& (data['SubSector']=='Municipality')&(data['Operation Type']=='Fire Station')&(data['Average_Hours'].isnull()==False)]

Empty DataFrame
Columns: [Sector, SubSector, Organization, Operation, Operation Type, Address, City, Postal Code, Floor_Area, Average_Hours, Electricity(kWh), Natural gas(CM), Propane(L), Coal(MT), Wood(MT), District Heating(GJ), District Cooling(GJ), GHG Emissions(KG), Energy Intensity(ekWh_sqft), Year, Fuel oil(L)]
Index: []

[0 rows x 21 columns]

In [21]:
# lis=[]
# mean=data[(data['Sub Sector']=='Acute/Chronic Hospital')&(data['year']==2013)][["GHG Emissions"]].max()
# lis.append(mean)
# lis

In [22]:
# data['GHG Emissions'].max()

In [24]:
data.to_excel("all_clean_data_ex.xlsx",index=False)

In [35]:
data["Sector"].value_counts()

Municipal                                 98451
School Board                              44700
Municipality                              10805
Post-Secondary Educational Institution     5489
School Boards                              4851
Public Hospital                            3489
Post-secondary Educational Institution      969
Post-Secondary Institution                  756
Hospital                                    439
Postsecondary                               340
Name: Sector, dtype: int64

In [26]:
data.shape

(170289, 21)

In [28]:
170289-107-180-1

170001

In [38]:
mappings = {
'Municipal':'Municipality',                            
'School Board':'School Board',                          
'Municipality':'Municipality',                          
'Post-Secondary Educational Institution':'Post-Secondary Educational Institution',
'School Boards':'School Board',                         
'Public Hospital':'Public Hospital',                      
'Post-secondary Educational Institution':'Post-Secondary Educational Institution',
'Post-Secondary Institution':'Post-Secondary Educational Institution',            
'Hospital':'Public Hospital',                              
'Postsecondary':'Post-Secondary Educational Institution',                         
}
 
data['Sector'] = data['Sector'].map(mappings)
data['Sector'].value_counts()

Municipality                              109256
School Board                               49551
Post-Secondary Educational Institution      7554
Public Hospital                             3928
Name: Sector, dtype: int64

In [39]:
data["SubSector"].value_counts()

Municipality               108677
School Board                44680
College                      5358
School Boards                4871
Acute/Chronic Hospital       2496
University                   2077
Acute/Chronic                 618
Municipal Service Board       557
Acute Hospital                416
Chronic Hospital              250
University                    126
Acute                          81
Chronic                        40
Township                       30
college                         8
Municipal                       4
Name: SubSector, dtype: int64

In [40]:
mappings = {
'Municipality':'Municipality',            
'School Board':'School Board',           
'College':'College',                 
'School Boards':'School Board',  
'Acute/Chronic Hospital':'Acute/Chronic Hospital', 
'University':'University',              
'Acute/Chronic':'Acute/Chronic Hospital',           
'Municipal Service Board':'Municipal Service Board', 
'Acute Hospital':'Acute Hospital',          
'Chronic Hospital':'Chronic Hospital',        
'University':'University',              
'Acute':'Acute Hospital',                   
'Chronic':'Chronic Hospital',                 
'Township':'Township',                
'college':'College',                 
'Municipal':'Municipality',                      
}
 
data['SubSector'] = data['SubSector'].map(mappings)
data['SubSector'].value_counts()

Municipality               108681
School Board                49551
College                      5366
Acute/Chronic Hospital       3114
University                   2077
Municipal Service Board       557
Acute Hospital                497
Chronic Hospital              290
Township                       30
Name: SubSector, dtype: int64

In [41]:
data['City'].value_counts()

Toronto        18513
Ottawa          5633
Brampton        3888
Mississauga     3737
Hamilton        2836
               ...
Meadowvale         1
FInch              1
Street             1
Listowel ON        1
Orton              1
Name: City, Length: 1545, dtype: int64

In [42]:
data.to_excel("all_clean_data_ex.xlsx",index=False)